@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.MyProperty</h3>

<p>Use this area to provide additional information.</p>

@* Razor Syntax คือ มี c# ผสม html โดยใช้ @ เพื่อเริ่ม การเขียน code c#  ถ้า มีหลายบรรทัด ก็จะใช้ @{}*@
